<span style="color:black;font-size: 30px; font-family: Arial; font-weight: bold;">EDUNET FOUNDATION-Classroom Exercise Notebook</span>

<span style="color:black;font-size: 30px; font-family: Arial; font-weight: bold;"> Lab 3 - Working with structured array in NumPy </span>

In [4]:
#Python program to demonstrate
# Structured array
import numpy as np
a = np.array([('Sana', 2, 21.0), ('Mansi', 7, 29.0)], dtype=[('name', (np. str_, 10)), ('age', np.int32), ('weight', np.float64)])
print(a)

[('Sana', 2, 21.) ('Mansi', 7, 29.)]

In [2]:
import numpy as np

# Define the data types for the fields
dt = np.dtype([('name', 'S20'), ('age', int), ('salary', float)])

# Create a structured array with three elements
data = np.array([('Alice', 25, 60000.0),
                 ('Bob', 30, 75000.0),
                 ('Charlie', 22, 50000.0)], dtype=dt)

# Accessing and manipulating the structured array
print("Structured Array:")
print(data)

# Accessing a specific field of all elements
print("\nNames:", data['name'])

# Applying operations to a specific field
data['salary'] *= 1.1

print("\nUpdated Salary:")
print(data)

Structured Array:
[(b'Alice', 25, 60000.) (b'Bob', 30, 75000.) (b'Charlie', 22, 50000.)]

Names: [b'Alice' b'Bob' b'Charlie']

Updated Salary:
[(b'Alice', 25, 66000.) (b'Bob', 30, 82500.) (b'Charlie', 22, 55000.)]

In [3]:
import numpy as np
 
# Calling dtype() constructor and filling it with desired tuples:
t = np.dtype([('empname', 'U40'), 
              ('age', 'u1'), 
              ('salary', 'u4'), 
              ('designation', 'U30')])
 
# Creating a structured array by using our dtype:
arr = np.array([('Raj Sharma', 28, 70000, 'Python Developer'), 
                ('Kanchan Kashyap', 25, 60000, 'Digital Marketer'), 
                ('Mukul Sinha', 26, 52500, 'Software Engineer')], dtype=t)
                
print(arr)

[('Raj Sharma', 28, 70000, 'Python Developer')
 ('Kanchan Kashyap', 25, 60000, 'Digital Marketer')
 ('Mukul Sinha', 26, 52500, 'Software Engineer')]