# EDUNET FOUNDATION - Class Exercise Notebook

# LAB 2 - Perform Basic Operations of Python Programming

# Hello world program in python

In [1]:
print("Hello world")

Hello world

In [2]:
a = "Hello world"
print(a)

Hello world

# Lets take a sample claculator example using python

In [3]:
# Addition
2+1

3

In [4]:
# Subtraction
2-1

1

In [5]:
# Multiplication
2*2

4

In [6]:
# Division
3/2

1.5

In [7]:
# Floor Division
7//4

1

 **What just happened?**

The reason we get this result is because we are using "floor" division. The // operator (two forward slashes) truncates the decimal without rounding, and returns an integer result.

In [8]:
# Modulo
7%4

3

4 goes into 7 once, with a remainder of 3. The % operator returns the remainder after division.

In [9]:
# Powers
2**3

8

In [10]:
# Can also do roots this way
4**0.5

2.0

In [11]:
# Order of Operations followed in Python
2 + 10 * 10 + 3

105

In [12]:
# Can use parentheses to specify orders
(2+10) * (10+3)

156

# Comments in python

In [13]:
# This is a Single line comment:
print("hello world")

hello world

In [14]:
# This is inline comment:
print("Hello world") # this is hello world program

Hello world

In [15]:
# This is multiline comment:
# This is comment
# This is comment
# This is comment
print("Hello world")

Hello world

# Variable Assignments

That we have seen how to use numbers in Python as a calculator. Now let's see how we can assign names and create variables.

We use a single equals sign to assign labels to variables. Let's see a few examples of how we can do this.

In [16]:
# Let's create an object / variable called "a" and assign it the number 7
a = 7

In [17]:
a

7

### Create Different types of variabe name

In [18]:
myvar = "Hello"
my_var = "Hello"
_my_var = "Hello"
myVar = "Hello"
MYVAR = "Hello"
myvar2 = "Hello"

In [19]:
print(myvar)

Hello

In [20]:
print(my_var)

Hello

In [21]:
print(_my_var)

Hello

In [22]:
print(myVar)

Hello

In [23]:
print(myvar)

Hello

In [24]:
print(MYVAR)

Hello

In [25]:
print(myvar2)

Hello

# Determining variable type with type()
You can check what type of object is assigned to a variable using Python's built-in type() function. Common data types include:

- int (for integer)
- float
- str (for string)
- list
- tuple
- dict (for dictionary)
- set
- bool (for Boolean True/False)

In [26]:
a = 2
type(a)

int

In [27]:
a = [1,2]
type(a)

list

In [28]:
#use input keyword to take input from user

#aks user to enter the value and store it in varialbe x

x = int(input("Enter the value of x : "))

#aks user to enter the value and store it in varialbe y

y = int(input("Enter the value of y : "))

#perform multiplication of x and y and store answer in variable Z

z = x*y

#Print answer

print(z)

Enter the value of x : 2
Enter the value of y : 3
6

# Python version check in notebook

In [29]:
from platform import python_version

print(python_version())

3.8.8

# Python built-in data types

In [30]:
a = "This is string" #String
b = 2.44 #float
c = 3    #int
d = 3.0 + 1j

In [31]:
print(type(a))
print (type(b))
print (type(c))
print (type(d))

<class 'str'>
<class 'float'>
<class 'int'>
<class 'complex'>

In [32]:
#variable and data types

var1 = 12  # delcare int value
var2 = 200.50 #declare floating value
var3 = "Intel" #declare string
var4 = True #declare Character

print (var1)
print (var2)
print (var3)
print(var4)

12
200.5
Intel
True

In [33]:
#print the data types of variable
print (type(var1))
print (type(var2))
print (type(var3))
print (type(var4))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [34]:
var5 = var1/4
var6 = var1 * var2

print(var5)
print(var6)

3.0
2406.0

# String in Python

String is nothing just a text or written something

### String concatenation

In [35]:
#string Concatenation

str1 = "PARUL "
print(str1)
print(type(str1))

str2 = "University"
print(str2)
print(type(str2))

#concatenation of str1 and str2 and store in str3
str3 = str1 + str2

print(str3)

PARUL
<class 'str'>
University
<class 'str'>
PARUL University

# String indexing and slicing

String                      U  N  I  V  E  R  S  I  T  Y
            
Slice from Front            0  1  2  3  4  5  6  7  8  9     Index from Front
            
Slice from rear           -10 -9 -8 -7 -6 -5 -4 -3 -2 -1     Index From rear

In [36]:
name = "university"

print(name)
print(len(name))

university
10

In [37]:
name[3]

'v'

In [38]:
name[1:5]

'nive'

In [39]:
name[:6]

'univer'

In [40]:
name[5:]

'rsity'

In [41]:
name[-10:-1]

'universit'

# Operators in python

### Arithematic operator

In [42]:
# addition, sub, mul, div: +, -, *, / etc
x = 5
y = 3

print(x + y)

8

### Assignment operator

In [43]:
x = 5
x += 3

print(x)

8

In [44]:
x = 5

x *= 3

print(x)

15

### Comaprison operator

In [45]:
x = 5
y = 3

print(x == y)

# returns False because 5 is not equal to 3

False

In [46]:
x = 5
y = 3

print(x != y)

# returns True because 5 is not equal to 3

True

### Logical operator

In [47]:
x = 5

print(x > 3 and x < 10)

# returns True because 5 is greater than 3 AND 5 is less than 10

True

In [48]:
x = 5

print(x > 3 or x < 4)

# returns True because one of the conditions are true (5 is greater than 3, but 5 is not less than 4)

True

In [49]:
x = 5

print(not(x > 3 and x < 10))

# returns False because not is used to reverse the result

False

**Note: There are various operators and types are available please go and explore more**

### Note: There are various operators and types are available please go and explore more

### Here! we have completed our first unit "Basics of python"

# Let's test your knowlegde/Learning

### 1. Write a python program to find out the simple interest

### 2. Wrie python program to check armstrong number