<span style="color:black;font-size: 30px; font-family: Arial; font-weight: bold;">EDUNET FOUNDATION-Classroom Exercise Notebook</span>

<span style="color:black;font-size: 30px; font-family: Arial; font-weight: bold;"> Lab 2 - Perform Selection , Reindexing and sorting in Pandas </span>

<span style="color:black;font-size: 25px; font-family: Arial; font-weight: bold;"> Program 1 - Selection and Reindexing </span>

In [1]:
import pandas as pd
# Create dataframe
info = pd.DataFrame({"P":[4, 7, 1, 8, 9], "Q":[6, 8, 10, 15, 11], "R":[17, 13, 12, 16, 14], "S":[15, 19, 7, 21, 9]}, index =["Parker", "William", "Smith", "Terry", "Phill"])
#Print dataframe
info

         P   Q   R   S
Parker   4   6  17  15
William  7   8  13  19
Smith    1  10  12   7
Terry    8  15  16  21
Phill    9  11  14   9

In [2]:
# reindexing with new index values 
info.reindex(["A", "B", "C", "D", "E"])

    P   Q   R   S
A NaN NaN NaN NaN
B NaN NaN NaN NaN
C NaN NaN NaN NaN
D NaN NaN NaN NaN
E NaN NaN NaN NaN

In [3]:
# filling the missing values by 100 
info.reindex (["A", "B", "C", "D", "E"], fill_value =100)

     P    Q    R    S
A  100  100  100  100
B  100  100  100  100
C  100  100  100  100
D  100  100  100  100
E  100  100  100  100

In [4]:
import pandas as pd

# Create a sample Series
data = {'A': 10, 'B': 20, 'C': 30}
original_series = pd.Series(data)
print("Original Series:")
print(original_series)

# Reindexing the Series with a new index
new_index = ['B', 'C', 'D', 'E']
reindexed_series = original_series.reindex(new_index)
print("\nReindexed Series:")
print(reindexed_series)

Original Series:
A    10
B    20
C    30
dtype: int64

Reindexed Series:
B    20.0
C    30.0
D     NaN
E     NaN
dtype: float64

<span style="color:black;font-size: 25px; font-family: Arial; font-weight: bold;"> Program 2 - Pandas Sort </span>

In [7]:
import pandas as pd
import numpy as np

unsorted_df = pd.DataFrame (np.random.randn (10,2), index= [1,4,6,2,3,5,9,8,8,7], columns = ['co12', 'col1'])
sorted_df = unsorted_df.sort_index() 
print (sorted_df)

       co12      col1
1  0.401988  1.737804
2  0.341287 -0.709587
3 -0.731855  0.138433
4  0.740090 -0.135825
5  1.447468 -0.007935
6  0.475438  0.418049
7  0.677285  0.092288
8 -1.009301  0.308045
8 -0.204024 -0.658844
9  0.176827  0.656697

<span style="color:black;font-size: 25px; font-family: Arial; font-weight: bold;"> 1 Order of Sorting </span>

In [8]:
import pandas as pd
import numpy as np
unsorted_df = pd.DataFrame(np.random.randn (10,2), index= [1,4,6,2,3,5,9,8,8,7], columns = ['col2', 'col1'])
sorted_df = unsorted_df.sort_index(ascending=False)
print (sorted_df)

       col2      col1
9  0.269699 -2.186005
8  0.957642  1.048178
8 -0.080241 -0.374656
7  0.133298 -0.350810
6  0.070246  0.378463
5  0.637289  1.750414
4 -1.040009 -0.960873
3  1.420059 -0.060118
2  1.314615 -1.859492
1  0.402892 -0.675434

<span style="color:black;font-size: 25px; font-family: Arial; font-weight: bold;"> 2 Sort the Columns </span>

In [9]:
import pandas as pd
import numpy as np
unsorted_df = pd.DataFrame(np.random.randn (10,2), index=[1,4,6,2,3,5,9,8,8,7], columns = ['col2', 'col1'])
sorted_df=unsorted_df.sort_index(axis=1)
print (sorted_df)

       col1      col2
1 -0.675436  0.228295
4 -0.538840  0.951929
6  0.072845  0.523814
2  0.354204  0.009541
3  0.439840 -0.267601
5 -0.025198 -1.332885
9  0.090389  1.457272
8  0.367302  1.304769
8 -0.569458 -0.246775
7  1.556896  1.112748

<span style="color:black;font-size: 25px; font-family: Arial; font-weight: bold;"> 3  By Value </span>

In [10]:
import pandas as pd
import numpy as np
unsorted_df = pd.DataFrame({'col1': [2,1,1,1], 'col2': [1,3,2,4]})
sorted_df = unsorted_df.sort_values (by='col1')
print (sorted_df)

   col1  col2
1     1     3
2     1     2
3     1     4
0     2     1