<span style="color:black;font-size: 30px; font-family: Arial; font-weight: bold;"> EDUNET FOUNDATION-Self Practice Solution Notebook</span>

<span style="color:black;font-size: 25px; font-family: Arial; font-weight: bold;"> Lab 1: Solutions Notebook</span>

<span style="color:black;font-size: 20px; font-family: Arial; font-weight: bold;"> Problem 1: Creating a Series </span>

<span style="color:black;font-size: 20px; font-family: Arial; font-weight: bold;"> 1 - Create a Pandas Series containing the days of the week: Monday, Tuesday, ..., Sunday. </span>

<span style="color:black;font-size: 20px; font-family: Arial; font-weight: bold;"> 2 - Set custom indices for the Series to represent numbers 1 to 7. </span>

In [4]:
import pandas as pd

# Exercise 1
days = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']
index = list(range(1, 8))
week_series = pd.Series(days, index=index)

print("Week Series:")
print(week_series)

Week Series:
1       Monday
2      Tuesday
3    Wednesday
4     Thursday
5       Friday
6     Saturday
7       Sunday
dtype: object

<span style="color:black;font-size: 20px; font-family: Arial; font-weight: bold;"> Problem 2:  Indexing and Slicing a Series </span>

<span style="color:black;font-size: 20px; font-family: Arial; font-weight: bold;"> 1 - Using the Series from Exercise 1, print the day of the week corresponding to index 4. </span>

<span style="color:black;font-size: 20px; font-family: Arial; font-weight: bold;"> 2 - Set custom indices for the Series to represent numbers 1 to 7. </span>

In [6]:
# Exercise 2
print("Day at index 4:", week_series[4])
print("Days from Tuesday to Friday:")
print(week_series[2:6])

Day at index 4: Thursday
Days from Tuesday to Friday:
3    Wednesday
4     Thursday
5       Friday
6     Saturday
dtype: object

<span style="color:black;font-size: 20px; font-family: Arial; font-weight: bold;"> Problem 3:  Creating and Manipulating DataFrames</span>

<span style="color:black;font-size: 20px; font-family: Arial; font-weight: bold;"> 1 - Create a DataFrame with the following data:
</span>

Columns: 'Name', 'Age', 'City'


Rows: ['Alice', 25, 'New York'], ['Bob', 30, 'Los Angeles'], ['Charlie', 28, 'Chicago']

In [7]:
# Exercise 3
data = {'Name': ['Alice', 'Bob', 'Charlie'],
        'Age': [25, 30, 28],
        'City': ['New York', 'Los Angeles', 'Chicago']}
df = pd.DataFrame(data)

print("DataFrame:")
print(df)

DataFrame:
      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   28      Chicago