<span style="color:black;font-size: 30px; font-family: Arial; font-weight: bold;"> EDUNET FOUNDATION-Self Practice Notebook</span>

<span style="color:black;font-size: 30px; font-family: Arial; font-weight: bold;"> Lab 4 -Selection and Indexing in Pandas </span>

<span style="color:black;font-size: 25px; font-family: Arial; font-weight: bold;"> Program 1 - Basic Indexing

<span style="color:black;font-size: 25px; font-family: Arial; font-weight: bold;"> 1 - create a Pandas Series with the following data:
</span>

Index: 'apple', 'banana', 'cherry'

Values: 10, 20, 30

<span style="color:black;font-size: 25px; font-family: Arial; font-weight: bold;"> 2 - Print the value associated with the index 'banana'.
</span>

<span style="color:black;font-size: 25px; font-family: Arial; font-weight: bold;"> Program 2 - Indexing in a DataFrame

<span style="color:black;font-size: 25px; font-family: Arial; font-weight: bold;"> 1 - Create a Pandas DataFrame with the following data:
</span>

Columns: 'Name', 'Age', 'City'

Rows: ['Alice', 25, 'New York'], ['Bob', 30, 'Los Angeles'], ['Charlie', 28, 'Chicago']

<span style="color:black;font-size: 25px; font-family: Arial; font-weight: bold;"> 2 - Print the 'Age' column of the DataFrame.
</span>