<span style="color:black;font-size: 30px; font-family: Arial; font-weight: bold;"> EDUNET FOUNDATION-Self Practice Solution Notebook</span>

<span style="color:black;font-size: 25px; font-family: Arial; font-weight: bold;"> Lab 2: Solutions Notebook</span>

<span style="color:black;font-size: 25px; font-family: Arial; font-weight: bold;"> Program 1 - Selection in a DataFrame
</span>

<span style="color:black;font-size: 25px; font-family: Arial; font-weight: bold;"> 1 - Create a DataFrame with the following data:
</span>

Columns: 'Name', 'Age', 'City'

Rows: ['Alice', 25, 'New York'], ['Bob', 30, 'Los Angeles'], ['Charlie', 28, 'Chicago']

<span style="color:black;font-size: 25px; font-family: Arial; font-weight: bold;"> 2 - Print the 'Name' column of the DataFrame.
</span>

In [1]:
import pandas as pd

# Exercise 1
data = {'Name': ['Alice', 'Bob', 'Charlie'],
        'Age': [25, 30, 28],
        'City': ['New York', 'Los Angeles', 'Chicago']}
df = pd.DataFrame(data)

print("Name Column:")
print(df['Name'])

Name Column:
0      Alice
1        Bob
2    Charlie
Name: Name, dtype: object

<span style="color:black;font-size: 25px; font-family: Arial; font-weight: bold;"> Program 2 - Reindexing a Series</span>

<span style="color:black;font-size: 25px; font-family: Arial; font-weight: bold;"> 1 -Create a Pandas Series with the following data:
</span>

Index: 'a', 'b', 'c'

Values: 10, 20, 30

<span style="color:black;font-size: 25px; font-family: Arial; font-weight: bold;"> 2 -Reindex the Series to have new indices: 'a', 'b', 'c', 'd', 'e'.

</span>

<span style="color:black;font-size: 25px; font-family: Arial; font-weight: bold;"> 3 - Print the reindexed Series. 

</span>

In [2]:
# Exercise 2
original_series = pd.Series([10, 20, 30], index=['a', 'b', 'c'])
reindexed_series = original_series.reindex(['a', 'b', 'c', 'd', 'e'])

print("Reindexed Series:")
print(reindexed_series)

Reindexed Series:
a    10.0
b    20.0
c    30.0
d     NaN
e     NaN
dtype: float64

<span style="color:black;font-size: 25px; font-family: Arial; font-weight: bold;"> Program 3 -  Sorting a DataFrame</span>

<span style="color:black;font-size: 25px; font-family: Arial; font-weight: bold;"> 1 - Using the DataFrame from Exercise 1, sort the DataFrame by 'Age' in ascending order.
</span>

<span style="color:black;font-size: 25px; font-family: Arial; font-weight: bold;"> 2 - Print the sorted DataFrame.
</span>

In [3]:
# Exercise 3
sorted_df = df.sort_values(by='Age')

print("Sorted DataFrame:")
print(sorted_df)

Sorted DataFrame:
      Name  Age         City
0    Alice   25     New York
2  Charlie   28      Chicago
1      Bob   30  Los Angeles