<span style="color:black;font-size: 30px; font-family: Arial; font-weight: bold;">EDUNET FOUNDATION-Classroom Exercise Notebook</span>

<span style="color:black;font-size: 30px; font-family: Arial; font-weight: bold;"> Lab 3 - Working with Text Data and Statistical Functions in Pandas </span>

<span style="color:black;font-size: 25px; font-family: Arial; font-weight: bold;"> Program 1 - Working with Text Data </span>

In [1]:
import pandas as pd
import numpy as np
s = pd.Series(['Tom', 'William Rick', 'John', 'Alber@t', np.nan, '1234', 'SteveSmith'])
print (s. str.lower())

0             tom
1    william rick
2            john
3         alber@t
4             NaN
5            1234
6      stevesmith
dtype: object

In [2]:
import pandas as pd
import numpy as np
s = pd.Series(['Tom', 'William Rick', 'John', 'Alber@t', np.nan, '1234', 'SteveSmith'])
print (s. str.upper())

0             TOM
1    WILLIAM RICK
2            JOHN
3         ALBER@T
4             NaN
5            1234
6      STEVESMITH
dtype: object

In [3]:
import pandas as pd

data = [10, 20, 30, 40, 50]
series = pd.Series(data)

# Get the number of elements in the Series
num_elements = len(series)
print("Number of Elements in Series:", num_elements)

Number of Elements in Series: 5

In [4]:
import pandas as pd

data = {'Name': ['Alice', 'BOB', 'Charlie', 'DAVID'],
        'Age': [25, 30, 22, 28]}
df = pd.DataFrame(data)

# Check if each character in 'Name' column is uppercase
df['Name_Is_Upper'] = df['Name'].str.isupper()

print(df)

      Name  Age  Name_Is_Upper
0    Alice   25          False
1      BOB   30           True
2  Charlie   22          False
3    DAVID   28           True

In [5]:
import pandas as pd

data = {'ID': ['123', 'ABC', '456', '789'],
        'Value': ['42', 'XYZ', '101', '246']}
df = pd.DataFrame(data)

# Check if each character in 'ID' and 'Value' columns is numeric
df['ID_Is_Numeric'] = df['ID'].str.isnumeric()
df['Value_Is_Numeric'] = df['Value'].str.isnumeric()

print(df)

    ID Value  ID_Is_Numeric  Value_Is_Numeric
0  123    42           True              True
1  ABC   XYZ          False             False
2  456   101           True              True
3  789   246           True              True

In [6]:
import pandas as pd

data = {'Name': ['alice', 'Bob', 'charlie', 'david'],
        'Age': [25, 30, 22, 28]}
df = pd.DataFrame(data)

# Check if each character in 'Name' column is lowercase
df['Name_Is_Lower'] = df['Name'].str.islower()

print(df)

      Name  Age  Name_Is_Lower
0    alice   25           True
1      Bob   30          False
2  charlie   22           True
3    david   28           True

<span style="color:black;font-size: 25px; font-family: Arial; font-weight: bold;"> Program 2 - Statistical Functions </span>

In [7]:
import pandas as pd
# Dataset
data = {
'Maths': [90, 85, 98, 80, 55, 78],
'Science': [92, 87, 59, 64, 87, 96], 'English': [95, 94, 84, 75, 67, 65]
}
# DataFrame
df = pd.DataFrame(data)
# Display the DataFrame
print("DataFrame = \n",df)
# Display the Sum of Marks in each column 
print("\nSum = \n",df.sum())

DataFrame =
    Maths  Science  English
0     90       92       95
1     85       87       94
2     98       59       84
3     80       64       75
4     55       87       67
5     78       96       65

Sum =
 Maths      486
Science    485
English    480
dtype: int64

In [8]:
import pandas as pd
# Dataset
data = {
'Maths': [90, 85, 98, None, 55, 78],
'Science': [92, 87, 59, None, None, 96],
'English': [95, None, 84, 75, 67, None]
}
# DataFrame
df = pd.DataFrame(data)
# Display the DataFrame
print("DataFrame = \n", df)
# Display the Count of non-empty values in each column
print("\nCount of non-empty values = \n", df.count())

DataFrame =
    Maths  Science  English
0   90.0     92.0     95.0
1   85.0     87.0      NaN
2   98.0     59.0     84.0
3    NaN      NaN     75.0
4   55.0      NaN     67.0
5   78.0     96.0      NaN

Count of non-empty values =
 Maths      5
Science    4
English    4
dtype: int64

In [9]:
import pandas as pd
# Dataset
data = { 'Maths': [90, 85, 98, 80, 55, 78],
'Science': [92, 87, 59, 64, 87, 96],
'English': [95, 94, 84, 75, 67, 65]
}
#DataFrame
df = pd.DataFrame(data)
# Display the DataFrame 
print("DataFrame = \n",df)
# Display the Maximum of Marks in each column 
print("\nMaximum Marks = \n", df.max())

DataFrame =
    Maths  Science  English
0     90       92       95
1     85       87       94
2     98       59       84
3     80       64       75
4     55       87       67
5     78       96       65

Maximum Marks =
 Maths      98
Science    96
English    95
dtype: int64

In [10]:
import pandas as pd
# Dataset
data = {
'Maths' : [90, 85, 98, 80, 55, 78],
'Science': [92, 87, 59, 64, 87, 96], 'English': [95, 94, 84, 75, 67, 65]
}
# DataFrame
df = pd.DataFrame(data)
# Display the DataFrame
print("DataFrame = \n", df)
# Display the Median of Marks in each column 
print("\nMedian = \n",df.median())

DataFrame =
    Maths  Science  English
0     90       92       95
1     85       87       94
2     98       59       84
3     80       64       75
4     55       87       67
5     78       96       65

Median =
 Maths      82.5
Science    87.0
English    79.5
dtype: float64