<span style="color:black;font-size: 30px; font-family: Arial; font-weight: bold;"> EDUNET FOUNDATION-Self Practice Notebook</span>

<span style="color:black;font-size: 30px; font-family: Arial; font-weight: bold;"> Lab 3 - Working with Text Data and Statistical Functions in Pandas </span>

<span style="color:black;font-size: 25px; font-family: Arial; font-weight: bold;"> Program 1 - Uppercase and Lowercase Conversion

<span style="color:black;font-size: 25px; font-family: Arial; font-weight: bold;"> 1 - Create a Pandas Series with the following data:
</span>

Index: 'Alice', 'Bob', 'Charlie'

Values: 'New York', 'Los Angeles', 'Chicago'

<span style="color:black;font-size: 25px; font-family: Arial; font-weight: bold;"> 2 - Convert the city names to uppercase and print the result.
</span>

<span style="color:black;font-size: 25px; font-family: Arial; font-weight: bold;"> 3 - Convert the city names to lowercase and print the result.
</span>

<span style="color:black;font-size: 25px; font-family: Arial; font-weight: bold;"> Program 2 - Basic Statistical Calculations

<span style="color:black;font-size: 25px; font-family: Arial; font-weight: bold;"> 1 - Create a Pandas Series with the following data:
</span>

Values: 12, 18, 25, 30, 15, 21

<span style="color:black;font-size: 25px; font-family: Arial; font-weight: bold;"> 2 - Calculate and print the mean, median, standard deviation, maximum, and minimum of the Series.
</span>