<span style="color:black;font-size: 30px; font-family: Arial; font-weight: bold;"> EDUNET FOUNDATION-Self Practice Solution Notebook</span>

<span style="color:black;font-size: 25px; font-family: Arial; font-weight: bold;"> Lab 3: Solutions Notebook</span>

<span style="color:black;font-size: 25px; font-family: Arial; font-weight: bold;"> Program 1 - Uppercase and Lowercase Conversion

<span style="color:black;font-size: 25px; font-family: Arial; font-weight: bold;"> 1 - Create a Pandas Series with the following data:
</span>

Index: 'Alice', 'Bob', 'Charlie'

Values: 'New York', 'Los Angeles', 'Chicago'

<span style="color:black;font-size: 25px; font-family: Arial; font-weight: bold;"> 2 - Convert the city names to uppercase and print the result.
</span>

<span style="color:black;font-size: 25px; font-family: Arial; font-weight: bold;"> 3 - Convert the city names to lowercase and print the result.
</span>

In [3]:
import pandas as pd

cities_series = pd.Series(['New York', 'Los Angeles', 'Chicago'], index=['Alice', 'Bob', 'Charlie'])
uppercased_cities = cities_series.str.upper()
lowercased_cities = cities_series.str.lower()

print("Uppercase Cities:")
print(uppercased_cities)
print("Lowercase Cities:")
print(lowercased_cities)

Uppercase Cities:
Alice         NEW YORK
Bob        LOS ANGELES
Charlie        CHICAGO
dtype: object
Lowercase Cities:
Alice         new york
Bob        los angeles
Charlie        chicago
dtype: object

<span style="color:black;font-size: 25px; font-family: Arial; font-weight: bold;"> Program 2 - Basic Statistical Calculations

<span style="color:black;font-size: 25px; font-family: Arial; font-weight: bold;"> 1 - Create a Pandas Series with the following data:
</span>

Values: 12, 18, 25, 30, 15, 21

<span style="color:black;font-size: 25px; font-family: Arial; font-weight: bold;"> 2 - Calculate and print the mean, median, standard deviation, maximum, and minimum of the Series.
</span>

In [4]:
import pandas as pd

data = [12, 18, 25, 30, 15, 21]
series = pd.Series(data)
mean = series.mean()
median = series.median()
std_dev = series.std()
max_val = series.max()
min_val = series.min()

print("Mean:", mean)
print("Median:", median)
print("Standard Deviation:", std_dev)
print("Maximum:", max_val)
print("Minimum:", min_val)

Mean: 20.166666666666668
Median: 19.5
Standard Deviation: 6.6156380392723015
Maximum: 30
Minimum: 12